body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
}

main, header, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    font-family: 'Rampart One', sans-serif;
    font-size: 60px;
    margin: 30px 0;
}

.main, .header, .footer {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.help{
    display:flex;
    flex-wrap: wrap;
    margin: 5px 7px
}

.button-reload-info, .help {
    display: flex;
    align-items: center;
}

.button {
    width: fit-content;
    height: fit-content;
}

#instructions {
    margin: 0 10px ;
}

.boardgame {
    display: flex;
    margin: 50px 0;
}

#pong {
    display: flex;
    align-items: center;
}

.margin {
    margin: 5px 20px;
}

